################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimpleOrleansSample/obj
/SimpleOrleansSample/bin
/.vs/SimpleOrleansSample/v15/Server/sqlite3
